[build-system]
requires = ["setuptools", "setuptools-scm"]
build-backend = "setuptools.build_meta"

[project]
authors = [
  {email = "thomas@gibfest.dk"},
  {name = "Thomas Steen Rasmussen"}
]
classifiers = [
    "License :: OSI Approved :: BSD License",
    "Programming Language :: Python :: 3",
    "Operating System :: OS Independent",
]
dependencies = [
    "dnspython >= 2.2.1",
    "httpx >= 0.23.3",
    "PyYAML >= 6.0",
    "prometheus-client >= 0.15.0",
]
description = "Prometheus exporter for blackbox-style DNS monitoring"
dynamic = ["version"]
keywords = ["prometheus", "dns", "monitoring"]
license = {text = "BSD 3-Clause License"}
name = "dns_exporter"
readme = "README.md"
requires-python = ">=3.9"

[project.scripts]
dns_exporter = "dns_exporter.dns_exporter:main"

[project.optional-dependencies]
dev = ["twine == 4.0.2", "pre-commit == 2.21.0", "setuptools-scm == 7.1.0"]
test = ["pytest == 7.2.0", "tox == 4.2.6"]

[project.urls]
homepage = "https://github.com/tykling/dns_exporter"
documentation = "https://dnsexporter.readthedocs.org/"

[tool.setuptools_scm]
write_to = "dns_exporter/_version.py"
