[build-system]
requires = ["setuptools", "setuptools-scm"]
build-backend = "setuptools.build_meta"

[project]
authors = [
  {email = "thomas@gibfest.dk"},
  {name = "Thomas Steen Rasmussen"}
]
classifiers = [
    "License :: OSI Approved :: BSD License",
    "Programming Language :: Python :: 3",
    "Operating System :: OS Independent",
]
dependencies = [
    "dnspython[doh,dnssec,idna,doq] >= 2.2.1",
    "PyYAML >= 6.0",
    "prometheus-client >= 0.15.0",
]
description = "Prometheus exporter for blackbox-style DNS monitoring"
dynamic = ["version"]
keywords = ["prometheus", "dns", "monitoring"]
license = {text = "BSD 3-Clause License"}
name = "dns_exporter"
readme = "README.md"
requires-python = ">=3.9"

[project.scripts]
dns_exporter = "dns_exporter.entrypoint:main"

[project.optional-dependencies]
dev = ["twine == 4.0.2", "pre-commit == 3.3.3", "setuptools-scm == 7.1.0"]
test = ["pytest == 7.4.4", "pytest-cov==4.0.0", "tox == 4.12.1", "requests==2.28.2"]
docs = ["Sphinx==7.0.1", "furo==2023.3.27"]

[project.urls]
homepage = "https://github.com/tykling/dns_exporter"
documentation = "https://dnsexporter.readthedocs.org/"

[tool.setuptools_scm]
write_to = "src/dns_exporter/_version.py"

[tool.setuptools]
package-dir = {"" = "src"}
packages = ["dns_exporter"]

[tool.pydocstyle]
convention = "google"
match = "src/dns_exporter/"
