---
name: "Run Tox"

on:  # yamllint disable-line rule:truthy
  push:

jobs:
  build:
    runs-on: "ubuntu-22.04"
    strategy:
      matrix:
        python: ["3.9", "3.10", "3.11", "3.12"]
    steps:
      - name: "Setup Python"
        uses: "actions/setup-python@0a5c61591373683505ea898e09a3ea4f39ef2b9c"
        with:
          python-version: "${{ matrix.python }}"

      - name: "Install dependencies"
        run: "sudo apt install -y prometheus"

      - name: "Check out main repo"
        uses: "actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11"
        with:
          path: "src"

      - name: "Install remaining python dependencies"
        run: "python -m pip install ./src/[test]"

      - name: "Run Tox"
        run: "tox -e py"
        working-directory: "./src"

      - name: "Upload coverage to Codecov"
        uses: "codecov/codecov-action@eaaf4bedf32dbdc6b720b63067d99c4d77d6047d"
        with:
          token: "${{secrets.CODECOV_TOKEN}}"
          # disable until codecov improves stability
          # fail_ci_if_error: true
          files: "./src/src/coverage.xml"
...
