---
name: Run Tox

on:  # yamllint disable-line rule:truthy
  push:
    branches:
      - "main"
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
    steps:
      - name: Checkout source
        uses: actions/checkout@v5

      - name: Install system dependencies
        run: sudo apt install -y prometheus

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install python dependencies
        run: pip install .[test]

      - name: Run tox
        run: tox -e py

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: "${{secrets.CODECOV_TOKEN}}"
          # disable until codecov improves stability
          # fail_ci_if_error: true
          files: ./src/coverage.xml
...
